<%= button_to 'Empty Cart', cart, method: :delete, data: {confirm: "Are you sure?"} %>
  <h2> Your Cart </h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product Info.</th>
        <th>Quantity</th>
        <th>price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <%= render cart.cart_items %>

      <tr>
        <td colspan="3" class= "total_title">Total</td>
        <td class="total_price"> <%= render_cart_total(cart) %></td>
      </tr>
    </tbody>
  </table>
  <br>
  <hr>

  <div class="checkout clearfix">
    <%= link_to("Check Out", "#", method: :post, class: "btn btn-lg btn-danger pull-right") %>