<%= button_to 'Empty Cart', cart, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
  <h2> Your Cart </h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product Info.</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <%= render cart.cart_items %>

      <tr class="cart_total">
        <td colspan="3">Total</td>
        <td colspan="2"> <%= render_cart_total(cart) %></td>

      </tr>
    </tbody>
  </table>
  <br>
  <hr>

  <div class="checkout clearfix">
    <%= link_to("Create Order", new_order_path, method: :get, class: "btn btn-lg btn-danger pull-right") %>