<div class="row">
  <div class="col-md-12">
    <%=  hidden_div_if(@current_cart.cart_items.empty?, id: 'cart') do %> 
      <%= render @current_cart %>
     <% end %>
    </div>
    </div>
  </div>
</div>
